/* Navbar.css */
.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  padding: 1rem;
  background-color: rgb(3,7,18);
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0;
  width: 100%;
}

.logo a {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #e2e8f0;
  text-decoration: none;
  font-size: 1rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger .bar.active:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .bar.active:nth-child(2) {
  opacity: 0;
}

.hamburger .bar.active:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 560px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(3,7,18);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
